* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-start h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 65px;
}

.text-start p {
    font-size: 30px;
}

.shopping-cart{
    float: right;
}

.shopping-cart img {
    cursor: pointer;
}

.text-sale p {
    margin-bottom: 2rem;
}

.text-sale a:first-of-type {
    padding: 12px 20px;
    background-color: #020D1C;
}

.next a {
    float: right;
    margin-top: 40px;
    margin-bottom: 1rem;
}

